main.main
	.section-catalog
		.container
			.catalog-menu
				a.catalog-menu__item(href="")
					span.catalog-menu__name АвтоВаз
						img(src="./img/right-arrow.png" alt="")
					span.catalog-menu__img(style="background-image:url(./img/cat1.png)")
				a.catalog-menu__item(href="")
					span.catalog-menu__name Автозапчасти ВАЗ
						img(src="./img/right-arrow.png" alt="")
					span.catalog-menu__img(style="background-image:url(./img/cat2.png)")
				a.catalog-menu__item(href="")
					span.catalog-menu__name Автозапчасти Ларгус, Веста, X-Ray
						img(src="./img/right-arrow.png" alt="")
					span.catalog-menu__img(style="background-image:url(./img/cat3.png)")
				a.catalog-menu__item(href="")
					span.catalog-menu__name Автозапчасти Спорт
						img(src="./img/right-arrow.png" alt="")
					span.catalog-menu__img(style="background-image:url(./img/cat4.png)")
				a.catalog-menu__item(href="")
					span.catalog-menu__name Метизы
						img(src="./img/right-arrow.png" alt="")
					span.catalog-menu__img(style="background-image:url(./img/cat5.png)")
				a.catalog-menu__item(href="")
					span.catalog-menu__name Распродажа и уценка
						img(src="./img/right-arrow.png" alt="")
					span.catalog-menu__img(style="background-image:url(./img/cat6.png)")
	.section-how
		.container
			.section-how__img
				span абсолют авто 
				img(src="./img/side_color_gda.png" alt="")
			.h1.section-how__caption Как пользоваться сайтом?
			.section-how__text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
	.section-buy
		.container
			.section-buy__items
				.section-buy__item
					.section-buy__img
						img(src="./img/assorted-auto-parts-.png" alt="")
					.section-buy__info
						.section-buy__name Купить в розницу
						.section-buy__text Выберите из широкого ассортимента, представленного на нашем сайте
						a.button.button_dark(href="") В каталог
				.section-buy__item
					.section-buy__img
						img(src="./img/DFE92OWU0AAli5I.png" alt="")
					.section-buy__info
						.section-buy__name Купить оптом
						.section-buy__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...
						a.button.button_red(href="") Оставить заявку
	.section-tech
		.container
			.section-tech__inner
				.section-tech__left
					.h1.section-tech__caption 
						span Запчасти 
						| для технического обслуживания
					.section-tech__info
						p Подбор запчастей для регулярного технического обслуживания вашего автомобиля
						.section-tech__advantages
							+list('На все популярные модели', 'Всегда в наличии')
						a.button.button_white(href="") Смотреть
	.section-about
		.container
			.section-about__inner
				.section-about__left
					.h1.section-about__caption О компании
					.section-about__text
						p Уже XX лет продаём автозапчасти и автотовары. На центральном складе, в наличии, 130 000 наименований. Основные категории: запчасти, аксессуары, автохимия, инструменты, аккумуляторы.
						p.text-color.text-bold Доставляем заказаные товары по низким ценам от 1 часа
				.section-about__map
					img(src="./img/map.png" alt="")
			.section-about__info Предложения на сайте не являются публичной офертой

