$fa-font-path: "../webfonts";
$font: "Open Sans", sans-serif;
$font-second: "Exo 2", sans-serif;

$color-text: #403f4c;
$color-primary: #d91e36;
$color-second: #2383f7;
$color-link: #2c2b3c;

$color-menu-bg: #fff;
$color-border: #eff0f1;

$color-main-text: #6e6e76;

$color-link-header: #a1a1a2;

$color-input-border: #e4e6e9;

$color-footer-bg: #21212c;
$color-footer-text: #b4b7ba;
$color-border-footer: #31313c;

$color-button-cart: #3c3b49;
